  * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        }

        body {
        font-family: 'Inter', sans-serif;
        background: #fff;
        /* background: linear-gradient(135deg, #a18cd1, #3b82f6); */
        color: #111;
        margin: 0;
        padding: 0;
        }
        /* =============================================== CAR ANIMATE =============================================== */


        .fade-zoom, .slide-up {
          opacity: 0;
          transform: translateY(40px);
          transition: all 0.8s ease-out;
        }

        .in-view.fade-zoom {
          opacity: 1;
          transform: scale(1);
        }

        .in-view.slide-up {
          opacity: 1;
          transform: translateY(0);
        }



        /* =============================================== HEADER =============================================== */

        header {
            background-image: url('FramerTools/FramerMultiColor.png');
            background-size: cover;
            background-position: center;
            border-bottom-left-radius: 60px;
            border-bottom-right-radius: 60px;
            overflow: hidden; 
            height: 75em;
        }
/* =============================================== NAVBAR =============================================== */
        .navbar {
            max-width: 900px;
            background: white;
            border-radius: 999px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-shadow: 0 6px 20px rgba(0, 0, 0, 0.06);
            margin-bottom: 4rem;
            flex-wrap: wrap;
            margin: 0 auto;
            padding: 1rem 1.5rem;
            position: relative;
            margin-top: 2em;
        }

        .nav-left {
            font-weight: 700;
            font-size: 1.2rem;
            text-decoration: none;
        }
        .nav-left a {
            text-decoration: none;
            color: #000;
        }

        .nav-center a {
            margin: 0 1rem;
            text-decoration: none;
            color: #333;
            font-weight: 500;
            font-size: 0.95rem;
        }

        /* =============================================== END NAVBAR =============================================== */



        /* =============================================== HERO SECTION  =============================================== */

        .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 2rem 1.5rem;
            position: relative;
            text-align: center;
            margin-top: 6em;
        }

        .hero h1 {
            font-size: 4.5rem;
            margin-bottom: 1rem;
            color: #111;
            font-weight: 700;
        }
        .hero p {
            font-size: 1.2rem;
            font-weight: 500;
            color: #555;
            margin-top: 1rem;
            line-height: 1.3;
        }
        .hero img {
            width: 100%;
            max-width: 1000px;
            margin-top: 2rem;
            border-radius: 10px;
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
        }

        .fade-zoom {
          opacity: 0;
          transform: scale(0.95);
          animation: fadeZoomIn 1s ease-out forwards;
        }

        /* Optional: Add a slight delay to create a staggered effect */
        .fade-zoom:nth-child(1) { animation-delay: .9s; }
        .fade-zoom:nth-child(2) { animation-delay: 0.8s; }
        .fade-zoom:nth-child(3) { animation-delay: 0.8s; }

        @keyframes fadeZoomIn {
          to {
            opacity: 1;
            transform: scale(1);
          }
        }


        /* ================================================== END OF HERO SECTION ================================================= */

      


/* ================================================== END OF HEADER ================================================= */

        

/* =============================================== TOOLS I USE =============================================== */


.tech-section {
      max-width: 1200px;
      margin: 50px auto;
      padding: 30px 20px;
      border-radius: 12px;
      text-align: center;
      overflow: hidden;
    }

    .tech-section h2 {
      font-size: 20px;
      margin-bottom: 30px;
      color: #7c7c7c;
    }

    .scroll-container {
      overflow: hidden;
      position: relative;
    }

    .scroll-track {
      display: flex;
      width: fit-content;
      animation: scroll-left 20s linear infinite;
    }

    .scroll-track img {
      width: 60px;
      height: 60px;
      margin: 0 25px;
      object-fit: contain;
      filter: brightness(1.1);
    }

    @keyframes scroll-left {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-50%);
      }
    }


/* =============================================== END OF TOOLS I USE =============================================== */


    /* =============================================== TRANSFORMER =============================================== */

    .transform-section {
        max-width: 90%;
        margin: 40px auto;
        padding: 40px;
        background: #f1f6fb;
        border-radius: 24px;
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
    }

    .text-content {
        flex: 1 1 350px;
        margin-top: 5rem;
    }

    .text-content h1 {
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 16px;
        line-height: 1.4;
        color: #3f3f3f;
    }

    .text-content p {
        font-size: 16px;
        color: #8f9192;
        margin-bottom: 12px;
        line-height: 1.6;
    }

    .success {
        color: #10b981;
        font-size: 17px;
        margin-top: 10px;
    }

    .cards-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
        gap: 20px;
        flex: 1 1 500px;
    }

    .card {
        background: #ffffff;
        padding: 20px 24px;
        border-radius: 20px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.04);
        transition: 0.3s ease;
    }

    .card h3 {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .card p {
        font-size: 15px;
        color: #4b5563;
        margin-bottom: 16px;
        line-height: 1.5;
    }

    .card button {
        background: linear-gradient(to bottom, #c0b4de, #3b82f6);
        color: #fff;
        border: none;
        padding: 10px 22px;
        border-radius: 8px;
        font-size: 14px;
        cursor: pointer;
        transition: 0.2s;
    }

/* =============================================== END OF TRANSFORMER =============================================== */




/* =============================================== SOFTWARE SECTION=============================================== */


.software-section {
  max-width: 1200px;
  margin: 60px auto;
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  border-radius: 20px;
  background: #f9f9fb;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.03);
}

.software-left {
  flex: 1 1 480px;
}

.software-left h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 16px;
  color: #111827;
}

.software-left p {
  font-size: 20px;
  color: #4b5563;
  line-height: 1.6;
  margin-bottom: 24px;
}

.feature {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  margin-bottom: 16px;
}

.feature img {
  margin-top: 4px;
}

.feature strong {
  font-size: 16px;
  color: #1f2937;
}

.feature p {
  font-size: 14px;
  color: #6b7280;
  margin-top: 4px;
}

.software-right {
  flex: 1 1 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.software-right img {
  width: 100%;
  max-width: 400px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}


/* ================================================= FAQ Styling ========================================================= */

    .faq-container {
      /* max-width: 800px; */
      /* margin: 80px auto; */
      padding: 0 1rem;
    }

    .faq-title {
      font-size: 2rem;
      font-weight: 700;
      text-align: center;
      margin-bottom: 2rem;
      color: #ccc;
    }

    .faq-item {
      background: var(--color-glass);
      /* border-radius: 16px; */
      margin-bottom: 1rem;
      overflow: hidden;
      border-bottom: 1px solid #ededed;
      transition: all 0.3s ease;
    }

    .faq-question {
      display: flex;
      justify-content: space-between;
      align-items: left;
      padding: 1rem;
      cursor: pointer;
      color: #7c7c7c;
    }

    .faq-question h3 {
      margin: 0;
      font-size: 20px;
      font-weight: 600;
      color: rgb(117, 117, 117);
    }

    .faq-answer {
      padding: 0 1.2rem;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.5s ease, padding 0.3s ease;
      font-size: 1rem;
      color: #7c7c7c;
    }
    .faq-answer p {
      font-size: 17px;
      color: #6d6d6d;
    }

    .faq-item.active .faq-answer {
      padding: 0 1.2rem 1rem;
      max-height: 500px;
    }

    .faq-item .icon i {
      font-size: 1.2rem;
      color: var(--color-muted);
      transition: transform 0.3s ease;
    }

    .faq-item.active .icon i {
      transform: rotate(180deg);
    }


    @media (max-width: 768px) {
      #software, #FlexibleCloud {
        flex-direction: column-reverse;
      }
      #AImarketing {
        flex-direction: column;
      }
    }


/* =============================================== END OF SOFTWARE SECTION=============================================== */



/* =============================================== SolutionS =============================================== */

    #solutions {
      max-width: 1200px;
      margin: auto;
      border-radius: 20px;
      padding: 40px;
    }

    .headline {
      text-align: center;
      font-size: 32px;
      font-weight: 700;
      margin-bottom: 10px;
    }

    .headline span {
      color: #7a5af8;
    }

    .description {
      text-align: center;
      max-width: 700px;
      margin: 0 auto 40px;
      font-size: 15px;
      color: #555;
    }

    #solutionGrid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 24px;
      justify-content: center;
    }

    #solutionCard {
      background: #ffffff;
      border: 1px solid #eee;
      border-radius: 16px;
      padding: 24px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.02);
      transition: all 0.2s ease;
      text-align: left;
    }

    .card:hover {
      transform: translateY(-2px);
      box-shadow: 0 6px 18px rgba(0, 0, 0, 0.04);
    }

    .solutionIcon {
      font-size: 40px;
      color: #7a5af8;
      margin-bottom: 40px;
    }

    #solutionCard h3 {
      font-size: 22px;
      font-weight: 600;
      margin-bottom: 8px;
      color: #606060;
    }

    .card p {
      font-size: 16px;
      line-height: 1.5;
      color: #666;
    }


/* =============================================== END OF SolutionS =============================================== */


/* =============================================== Development Solutions =============================================== */

    #development {
      max-width: 1200px;
      margin: auto;
      text-align: center;
    }

    .section-label {
      font-size: 13px;
      color: #a3a3a3;
      margin-bottom: 10px;
      padding: 4px 12px;
      display: inline-block;
      border-radius: 12px;
      background-color: #f2f2f5;
    }

    .headline {
      font-size: 36px;
      font-weight: 600;
      margin-bottom: 10px;
    }

    .headline span {
      color: #7b61ff;
    }

    .subtext {
      font-size: 16px;
      color: #666;
      margin-bottom: 50px;
      max-width: 700px;
      margin-left: auto;
      margin-right: auto;
      line-height: 1.6;
    }

    .grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
      gap: 24px;
      justify-content: center;
    }

    .developmentCard {
      background-color: #f6f8fc;
      border-radius: 24px;
      padding: 32px;
      text-align: left;
      box-shadow: 0 2px 6px rgba(0,0,0,0.03);
    }

    .badge {
      font-size: 13px;
      color: #7b61ff;
      background-color: #fff;
      display: inline-block;
      padding: 4px 10px;
      border-radius: 10px;
      margin-bottom: 12px;
    }

    .developmentCard h3 {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 10px;
      color: #1a1a1a;
    }

    .developmentCard p {
      font-size: 15px;
      color: #555;
      line-height: 1.6;
    }
    .developmentCard img {
      width: 100%;
      max-width: 700px;
      margin-top: 20px;
      border-radius: 12px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    }

    @media screen and (max-width: 768px) {
      .headline {
        font-size: 28px;
      }

      .card {
        padding: 24px;
      }
    }


/* =============================================== END OF Development Solutions =============================================== */





/* =============================================== PRICING =============================================== */


    .pricingHead {
      background-image:  url('FramerTools/FramerMultiColor.png');
    }
    #containerPricing {
      max-width: 1200px;
      margin: auto;
      text-align: center;
    }

    #containerPricing h2 {
      font-size: 30px;
      font-weight: 600;
      margin-bottom: 20px;
    }
    .pricingP {
      color: #7a7a7a;
      margin-bottom: 16px;
    }

    #containerPricing .toggle {
      display: inline-flex;
      background-color: #f3f3f3;
      border-radius: 999px;
      padding: 5px;
      margin-bottom: 40px;
    }

    #containerPricing .toggle button {
      background: none;
      border: none;
      padding: 8px 20px;
      font-size: 14px;
      border-radius: 999px;
      cursor: pointer;
      font-weight: 600;
    }

    #containerPricing .toggle .active {
      background-color: #7b61ff;
      color: white;
    }

    .pricing-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      gap: 24px;
      justify-content: center;
    }

    .pricingCard {
      background-color: white;
      padding: 32px;
      border-radius: 24px;
      text-align: left;
      box-shadow: 0 4px 10px rgba(0,0,0,0.3);
      transition: all 0.3s ease;
    }

    .pricingCard h3 {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 12px;
    }

    .pricingCard .price {
      font-size: 26px;
      font-weight: 700;
      color: #7b61ff;
      margin-bottom: 6px;
    }


    .price-text {
      display: inline-block;
      animation: slideFade 0.4s ease-in-out;
    }

    @keyframes slideFade {
      0% {
        opacity: 0;
        transform: translateX(-10px);
      }
      100% {
        opacity: 1;
        transform: translateX(0);
      }
    }

    .pricingCard .per-month {
      font-size: 14px;
      color: #888;
      margin-bottom: 12px;
    }
    .pricingCard .per-month.active {
      color: #fff;
    }

    .pricingCard .description {
      font-size: 14px;
      color: #555;
      margin-bottom: 24px;
    }
    .pricingCard .description.active {
      color: #fff;
    }

    .pricingBtn {
      width: 100%;
      padding: 10px 0;
      font-size: 16px;
      font-weight: 600;
      border: 1px solid #ddd;
      border-radius: 999px;
      background-color: white;
      cursor: pointer;
      transition: 0.2s ease;
      color:#686666
    }
    .pricingBtn.active {
      color:#7b61ff
    }

    .pricingBtn :hover {
      border-color: #7b61ff;
      color: #7b61ff;
    }

    #containerPricing .pricingCard.active {
      background-color: #7b61ff;
      color: white;
    }

    #containerPricing .pricingCard.active .price {
      color: white;
    }

    #containerPricing .pricingCard .active button {
      background-color: white;
      color: #7b61ff;
      border: none;
    }

    #containerPricing ul.features {
      list-style: none;
      margin-top: 24px;
    }

    #containerPricing ul.features li {
      font-size: 14px;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      gap: 8px;
    }

    #containerPricing ul.features li::before {
      content: '✓';
      color: #7b61ff;
      font-weight: bold;
    }
    #containerPricing ul.features.active li::before {
      content: '✓';
      color: #fff;
      font-weight: bold;
    }

    #containerPricing ul.features li.disabled::before {
      content: '✕';
      color: #bbb;
    }

    #containerPricing ul.features li.disabled {
      color: #aaa;
    }

    @media screen and (max-width: 768px) {
      #containerPricing h1 {
        font-size: 28px;
      }
      .pricingP {
      color: #7a7a7a;
      font-size: 15px;
     }
     br {
      display: none;
     }
    }




/* =============================================== END OF PRICING =============================================== */








/* =============================================== SUBSCRIBE LETTER =============================================== */
    .letter {
        font-family: 'Inter', sans-serif;
        background-color: #f9f9fb;
        padding: 60px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cta-container {
      max-width: 900px;
      width: 100%;
      background: linear-gradient(135deg, #efeaff, #f4f1ff);
      border-radius: 40px;
      padding: 60px 30px;
      box-shadow: 0 10px 40px rgba(0, 0, 0, 0.04);
      text-align: center;
      background-image: url('FramerTools/FramerLetterBckg.png');
    }

    .cta-container h2 {
      font-size: 2.2rem;
      font-weight: 700;
      margin-bottom: 14px;
      color: #1a1a1a;
    }

    .cta-container p {
      font-size: 1rem;
      color: #555;
      margin-bottom: 30px;
      line-height: 1.6;
      max-width: 600px;
      margin-inline: auto;
    }

    .cta-form {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 12px;
    }

    .cta-form input[type="email"] {
      padding: 14px 18px;
      border-radius: 10px;
      border: none;
      width: 300px;
      font-size: 15px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
      outline: none;
      transition: all 0.3s ease;
    }

    .cta-form input:focus {
      box-shadow: 0 0 0 2px #6c4dff4d;
    }

    .cta-form button {
      background-color: #6c4dff;
      color: white;
      border: none;
      padding: 14px 24px;
      border-radius: 10px;
      font-size: 15px;
      font-weight: 600;
      cursor: pointer;
      transition: background 0.3s ease;
    }

    .cta-form button:hover {
      background-color: #5b3be3;
    }

    @media (max-width: 768px) {
      .cta-container {
        padding: 40px 20px;
      }

      .cta-container h2 {
        font-size: 1.8rem;
      }

      .cta-form {
        flex-direction: column;
        align-items: center;
      }

      .cta-form input,
      .cta-form button {
        width: 100%;
        max-width: 400px;
      }
    }

    @media (max-width: 480px) {
      .cta-container h2 {
        font-size: 1.6rem;
      }

      .cta-container p {
        font-size: 0.95rem;
      }

      .cta-form input {
        font-size: 14px;
      }

      .cta-form button {
        font-size: 14px;
      }
    }





/* =============================================== END OF SUBSCRIBE LETTER =============================================== */




/* =============================================== TAB RESPONSIVE =============================================== */


    @media (max-width: 1024px) {

        header {
            height: 66em;
        }

        .navbar {
            flex-direction: column;
            align-items: flex-start;
            gap: 1rem;
        }

        .container {
            text-align: center;
        } 

        .nav-center, .nav-right {
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
         .hero h1 {
            font-size: 3.5rem;
        }

         .transform-section {
            /* max-width: 90%; */
            margin: 40px auto;
            padding: 40px;
        }

        .card {
            background: #ffffff;
            padding: 30px 15px;
            border-radius: 20px;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.04);
            transition: 0.3s ease;
        }
        .card h3 {
            font-size: 22px;
            font-weight: 600;
            margin-bottom: 10px;
        }

        .card p {
            font-size: 18px;
            color: #4b5563;
            margin-bottom: 16px;
            line-height: 1.5;
        }


        
/* =============================================== SolutionS =============================================== */

    .description {
      font-size: 20px;
    }

    #solutionGrid {
      display: grid;
      grid-template-columns: repeat(2, 350px);
      gap: 24px;
      justify-content: center;
    }

    .card:hover {
      transform: translateY(-2px);
      box-shadow: 0 6px 18px rgba(0, 0, 0, 0.04);
    }

    .icon {
      font-size: 30px;
      color: #7a5af8;
      margin-bottom: 12px;
    }

    .card h3 {
      font-size: 24px;
    }

    .card p {
      font-size: 20px;
    }


/* =============================================== END OF SolutionS =============================================== */


    }

    @media (max-width: 768px) {

         header {
            height: 45em;
        }
        .hero h1 {
            font-size: 26px;
            line-height: 1.4;
        }
        .hero p {
            font-size: 1rem;
        }
        .hero br {
            display: none;
        }
        .transform-section {
            /* max-width: 90%; */
            margin: 40px auto;
            padding: 20px;
        }
        .transform-section h1 {
            font-size: 26px;
        }
        .transform-section p {
            font-size: 16px;
        }

        
/* =============================================== SolutionS =============================================== */

    .description {
      font-size: 20px;
    }

    #solutionGrid {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 24px;
      justify-content: center;
    }

    .card:hover {
      transform: translateY(-2px);
      box-shadow: 0 6px 18px rgba(0, 0, 0, 0.04);
    }


    .icon {
      font-size: 30px;
      color: #7a5af8;
      margin-bottom: 12px;
    }

    .card h3 {
      font-size: 22px;
    }

    .card p {
      font-size: 18px;
    }


/* =============================================== END OF SolutionS =============================================== */

    }